/* Entire HTML */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  min-height: 100vh;
}

p {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}
/* Landing */

#landing {
  background-image: url("./Pictures/682525.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 30px;
  color: gold;
  margin-top: -10px;
}

.subtitle {
  font-size: 25px;
  color: white;
}

/* Filter */
.filter {
  display: flex;
  flex-direction: column;
  margin-top: -110px;
}

.panes {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.pane-item {
  color: white;
  background-color: rgb(80, 159, 244, 0.6);
  list-style: none;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  margin: 0px 1px 0px 1px;
  padding: 15px;
}

.pane-item:active {
  color: black;
  background-color: #D4675A;
}

#card-container{
  background-color: #FF8D7D;
}

.filter-container {
  height: 150px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  border-radius: 10px;
  background: #D4675A;
  display: flex;
 
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0%;
}

.rating-system > h3{
margin-bottom: 0%;
}

.rating-info > p{
  margin-bottom: 0%;
}

.admin > button {
  color: aliceblue;
}

.admin > button > a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.cards-title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.form {
  padding-top: 15px;
  align-items: center;
}

#sort {
  font-size: 18px;
}

.sort-button {
  font-size: 18px;
}

/* Hover Effect */
#container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 200px;
}

.list-item {
  position: relative;
  width: 25%;
  padding-bottom: 15px;
}

.list-info {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: white;
  position: absolute;
  width: 150px;
  height: 250px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 1;
  transition: all 0.1s linear;
  backdrop-filter: blur(0.6px);
}

.list-item:hover > img {
  width: 175px;
  height: 275px;
  transition: all 0s linear;
}

.list-item:hover .list-info {
  opacity: 0;
}

.sword {
  font-size: 15px;
}

.sword > img {
  width: 15px;
  aspect-ratio: 1;
}
/* Footer */
#footer{
  min-height: 50vh;
  background-color: #FF7063;
}

footer > h2 {
  text-align: center;
}

.footerA {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contactA{
  display: flex;
  flex-direction: column;
}

.contactA > input {
  width: 500px;
  margin-top: 15px;
  margin-right: 15px;
}

.contactA >textarea {
  margin-top: 15px;
  margin-bottom: 15px;
}

.contact {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerB {
  display: flex;
  justify-content: center;
  background-color: #FC534B;
  font-size: 20px;
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: -10px;
}

.name {
  width: 30%;
  padding-bottom: 0;
}

.company {
  width: 30%;
  margin-bottom: 0;
}

.companyName {
  text-align: center;
}

.icons {
  text-align: end;
  width: 30%;
}

.fa-brands,
.fab {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  color: black;
}
